
/* 네비게이션 바 스타일 */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 로고 스타일 */
.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}

/* 네비게이션 링크 스타일 */
.nav-links {
    display: flex;
}

.nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: #333333;
}

/* 네비게이션 링크 호버 효과 */
.nav-link:hover {
    color: #007bff; /* 호버 컬러 변경 */
}


/*=======*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h4 {
    margin-top: 0;
    color: #333;
}
form {
    margin-top: 20px;
}
input[type="text"], input[type="number"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}


/* 상세 페이지 */
.detail {
    text-align: center;
    margin-bottom: 20px;
}
.detail img {
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}
.review {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.review-item {
    margin-bottom: 15px;
}

/*주문확인 페이지*/

.confirmation-container {
    text-align: center;
    background: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.confirmation-container h1 {
    color: #28a745;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.confirmation-container p {
    font-size: 1.2em;
    color: #333333;
    margin-bottom: 30px;
}
.confirmation-container a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.confirmation-container a:hover {
    background-color: #0056b3;
}