<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>로그인 페이지</title>
</head>
<body>
    <div th:replace="~{nav.html :: navbar}"></div>
    <div class="container">
        <h4>로그인 페이지</h4>

        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="아이디" required>
            <input type="password" name="password" placeholder="비밀번호" required>
            <button type="submit">로그인</button>
        </form>

        <a href="/member/register">회원가입</a>

        <div th:if="${param.error}">
            <p>아이디 또는 비밀번호가 잘못되었습니다.</p>
        </div>

    </div>
</body>
</html>