<div class="nav" th:fragment="navbar">
    <a href="/" class="logo">SpringMall</a>
    <div class="nav-links">

        <!-- 손님 -->
        <div sec:authorize="isAnonymous()">
            <a href="/login" class="nav-link" >login</a>
            <a href="/products" class="nav-link">List</a>
        </div>

        <!-- 로그인 -->
        <div sec:authorize="isAuthenticated()">
            <span sec:authentication="principal.username"></span>
            <span>님 안녕하세요!</span>
            <a href="/my-page" class="nav-link">myPage</a>
            <a href="/products" class="nav-link">List</a>
            <a href="/products/new" class="nav-link">Write</a>
            <a href="/logout" class="nav-link">logout</a>
        </div>

    </div>
</div>