<div class="nav" th:fragment="navbar">
    <a href="/" class="logo">SpringMall</a>
    <div class="nav-links">

        <!-- 손님 -->
        <div sec:authorize="isAnonymous()">
            <a href="/login" class="nav-link" >login</a>
            <a href="/products/page/1" class="nav-link">List</a>
        </div>

        <!-- 로그인 -->
        <div sec:authorize="isAuthenticated()">
            <span sec:authentication="principal.username"></span>
            <span>님 안녕하세요!</span>
            <a th:href="@{/my-page/{id}(id=${loggedInMemberId})}" class="nav-link">myPage</a>
            <a href="/products/page/1" class="nav-link">List</a>
            <a href="/products/new" class="nav-link">Write</a>
            <form id="logoutForm" class="nav-link" action="/logout" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button type="submit" >Logout</button>
            </form>
        </div>

    </div>
</div>