<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>상품 추가 페이지</title>
</head>
<body>
    <div th:replace="~{nav.html :: navbar}"></div>
    <div class="container">
        <h4>상품 추가 페이지</h4>

        <form action="/products" method="POST" onsubmit="return checkImage()">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="hidden" name="username" th:value="${#authentication.principal.username}" required>

            <input type="text" name="title" placeholder="상품명" th:value="${productDTO != null ? productDTO.title : ''}" required>
            <input type="text" name="price" placeholder="가격" th:value="${productDTO != null ? productDTO.price : ''}" required>

            <input type="file" id="fileInput" onchange="getPresignedUrl(this)">
            <input type="hidden" id="productImgUrl" name="productImgUrl" class="presignedUrl" th:value="${productDTO != null ? productDTO.productImgUrl : ''}" required>
            <br /><br />
            <img th:src="${productDTO != null ? productDTO.productImgUrl : ''}" />
            <br /><br />

            <button type="submit">상품 추가</button>
        </form>

        <!-- 에러 메시지 표시 -->
        <div th:if="${errorMessage}">
            <p th:text="${errorMessage}" style="color:red;"></p>
        </div>
    </div>

    <script>
        async function getPresignedUrl(e){
          let name = encodeURIComponent(e.files[0].name)
          let createPresignedURL = await fetch('/presigned-url?filename=' + name)
          createPresignedURL = await createPresignedURL.text();
          
          let savePresignedURL = await fetch(createPresignedURL, {
            method : 'PUT',
            body : e.files[0]
          })

          let splitPresignedURL = savePresignedURL.url.split("?")[0];

          if (savePresignedURL.ok) {
            document.querySelector('img').src = splitPresignedURL
            document.querySelector('.presignedUrl').value = splitPresignedURL
          }
        }

        function checkImage() {
            let productImgUrl = document.getElementById('productImgUrl').value;
            if (!productImgUrl) {
                alert("이미지를 업로드해 주세요.");
                return false;
            }
            return true;
        }
    </script>

</body>
</html>
