<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>상품 리스트 페이지</title>
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>

<h4>상품 리스트 페이지</h4>
<div class="card" th:each="product : ${productList}">
    <img src="https://placehold.co/300">
    <div>
        <h4><a th:href="@{'/products/' + ${product.id}}" th:text="${product.title}">상품명</a></h4>
        <p th:text="${product.price} + '원'">가격</p>
        <p th:text="'작성자 : '+ ${product.username}">가격</p>
        <a th:href="@{'/products/edit/' + ${product.id}}">수정 페이지 이동</a> <br />
        <a th:onclick="deleteBtn([[${product.id}]])">삭제 버튼</a> <br />
    </div>
    <hr />
    <br />
</div>


<div class="pagination">
    <p>글 목록</p>
    <!-- 첫 페이지로 가는 링크 -->
    <span><a th:href="@{/products/page/1}">처음</a></span>

    <!-- 이전 페이지로 가는 링크 -->
    <span th:if="${currentPage > 1}">
        <a th:href="@{|/products/page/${currentPage - 1}|}">이전</a>
    </span>

    <!-- 페이지 번호들 -->
    <span th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{|/products/page/${pageNum}|}"
           th:text="${pageNum}"
           th:classappend="${pageNum == currentPage} ? 'active' : ''"></a>
    </span>

    <!-- 다음 페이지로 가는 링크 -->
    <span th:if="${currentPage < totalPages}">
        <a th:href="@{|/products/page/${currentPage + 1}|}">다음</a>
    </span>

    <!-- 마지막 페이지로 가는 링크 -->
    <span><a th:href="@{|/products/page/${totalPages}|}">마지막</a></span>
</div>


<script>
    // 자바스크립트 함수 정의
    function deleteBtn(productId) {
        // fetch를 통해 DELETE 요청 전송
        fetch('/products/delete/' + productId, { method : 'DELETE' } )
            .then(r => r.text()) // 응답을 텍스트로 변환
            .then((rep) => {
                console.log(rep); // 응답 콘솔에 출력
                location.reload(); // 페이지 리로드 되면 콘솔이 안보임
            })
    }
</script>

</body>
</html>
