<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>상품 상세 페이지</title>
</head>
<body>
    <div th:replace="~{nav.html :: navbar}"></div>

    <div class="detail">
        <h4>상세페이지</h4>
        <div>
            <img th:src="${findProduct.productImgUrl != '' ? findProduct.productImgUrl : 'https://placehold.co/300'}" />
        </div>
        <h4 th:text="${findProduct.title}">상품명</h4>
        <p th:text="${findProduct.price + '원'}">가격</p>
    </div>

    <div sec:authorize="isAuthenticated()">
        <h4>리뷰 작성하는 곳</h4>
        <form action="/review" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="hidden" name="username" th:value="${#authentication.name}">
            <input type="hidden" name="parentId" th:value="${findProduct.id}">
            <input type="text" name="content">
            <button type="submit">리뷰 쓰기</button>
        </form>
    </div>

    <div th:if="${param.error}">
        <p th:text="${param.error}">이미 리뷰를 작성하셨습니다.</p>
    </div>


    <div class="review">
        <h4>리뷰</h4>
        <div th:each="review : ${reviewList}" class="review-item">
            <p><strong th:text="${review.username}"></strong>: <span th:text="${review.content}"></span></p>
        </div>
    </div>

</body>
</html>